abseil-cpp==20211102.0
accelerate==0.33.0
aiohttp==3.9.5
aiosignal==1.2.0
altair==5.4.1
anaconda-anon-usage==0.4.4
anaconda-client==1.12.3
anaconda-navigator==2.2.0
annotated-types==0.7.0
anyio==4.2.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow-cpp==11.0.0
asttokens==2.0.5
async-lru==2.0.4
async-timeout==4.0.3
attrs==24.2.0
aws-c-common==0.4.57
aws-c-event-stream==0.1.6
aws-checksums==0.1.9
aws-sdk-cpp==1.8.185
babel==2.11.0
backcall==0.2.0
backports==1.1
backports.functools_lru_cache==1.6.4
backports.tempfile==1.0
backports.weakref==1.0.post1
beautifulsoup4==4.12.3
bitsandbytes==0.43.3
blas==1.0
bleach==4.1.0
blinker==1.8.2
boost-cpp==1.82.0
bottleneck==1.3.7
brotli-python==1.0.9
bzip2==1.0.8
c-ares==1.19.1
ca-certificates==2024.7.2
cachetools==5.5.0
certifi==2024.7.4
cffi==1.16.0
chardet==4.0.0
charset-normalizer==2.0.4
click==8.1.7
colorama==0.4.6
coloredlogs==15.0.1
comm==0.2.1
commonmark==0.9.1
conda==22.9.0
conda-build==3.26.1
conda-content-trust==0.2.0
conda-env==2.6.0
conda-index==0.5.0
conda-package-handling==2.3.0
conda-package-streaming==0.10.0
conda-repo-cli==1.0.88
conda-token==0.5.0
conda-verify==3.4.2
console_shortcut==0.1.1
contourpy==1.2.1
cryptography==41.0.3
cudatoolkit==11.0.221
cycler==0.12.1
datasets==2.12.0
debugpy==1.6.7
decorator==5.1.1
deepspeed==0.12.7
defusedxml==0.7.1
dill==0.3.6
einops==0.8.0
et-xmlfile==1.1.0
exceptiongroup==1.2.0
executing==0.8.3
filelock==3.13.1
fire==0.6.0
flask==3.0.3
fonttools==4.53.1
freetype==2.12.1
frozenlist==1.4.0
fsspec==2024.6.1
future==0.18.3
gflags==2.2.2
gitdb==4.0.11
gitpython==3.1.43
glob2==0.7
glog==0.5.0
gmpy2==2.1.2
h11==0.14.0
hjson==3.1.0
httpcore==1.0.5
httpx==0.27.0
huggingface-hub==0.24.3
huggingface_hub==0.23.1
humanfriendly==10.0
icc_rt==2022.1.0
icu==58.2
idna==3.7
importlib-metadata==7.0.1
importlib-resources==6.4.0
importlib_metadata==7.0.1
intel-openmp==2023.1.0
ipykernel==6.28.0
ipython==8.15.0
itsdangerous==2.2.0
jedi==0.18.1
jieba==0.42.1
jinja2==3.1.4
joblib==1.1.1
jpeg==9e
json5==0.9.6
jsonschema==4.19.2
jsonschema-specifications==2023.7.1
jupyter-lsp==2.2.0
jupyter_client==8.6.0
jupyter_core==5.7.2
jupyter_events==0.10.0
jupyter_server==2.14.1
jupyter_server_terminals==0.4.4
jupyterlab==4.0.11
jupyterlab_pygments==0.1.2
jupyterlab_server==2.25.1
kiwisolver==1.4.5
lcms2==2.12
lerc==3.0
libarchive==3.6.2
libboost==1.82.0
libbrotlicommon==1.0.9
libbrotlidec==1.0.9
libbrotlienc==1.0.9
libcurl==8.7.1
libdeflate==1.17
libevent==2.1.12
libiconv==1.16
liblief==0.12.3
libpng==1.6.39
libprotobuf==3.20.3
libsodium==1.0.18
libssh2==1.10.0
libthrift==0.15.0
libtiff==4.5.1
libuv==1.48.0
libwebp-base==1.3.2
libxml2==2.10.4
lightning-utilities==0.11.6
lxml==5.2.2
lz4-c==1.9.4
m2-msys2-runtime==2.5.0.17080.65c939c
m2-patch==2.7.5
markupsafe==2.1.3
matplotlib==3.9.1
matplotlib-inline==0.1.6
menuinst==1.4.18
mistune==2.0.4
mkl==2023.1.0
mkl-service==2.4.0
mkl_fft==1.3.8
mkl_random==1.2.4
modelscope==1.16.1
more-itertools==10.1.0
mouseinfo==0.1.3
mpc==1.1.0
mpfr==4.0.2
mpir==3.0.0
mpmath==1.3.0
msys2-conda-epoch==20160418
multidict==6.0.4
multiprocess==0.70.14
narwhals==1.9.0
navigator-updater==0.2.1
nbclient==0.8.0
nbconvert==7.10.0
nbformat==5.9.2
nest-asyncio==1.6.0
networkx==3.2.1
ninja==1.11.1.1
nltk==3.8.1
notebook==7.0.8
notebook-shim==0.2.3
nptk==0.1.5
numexpr==2.8.7
numpy==1.26.4
numpy-base==1.26.4
opencv-python-headless==4.10.0.84
openjpeg==2.4.0
openpyxl==3.1.5
openssl==1.1.1w
optimum==1.12.0
orc==1.7.4
outcome==1.3.0.post0
overrides==7.4.0
packaging==23.2
pandas==2.2.2
pandocfilters==1.5.0
parso==0.8.3
pdf2docx==0.5.8
peft==0.12.0
pickleshare==0.7.5
pillow==10.3.0
pip==24.0
pkginfo==1.10.0
joblib==1.1.1
platformdirs==3.10.0
powershell_shortcut==0.0.1
prometheus_client==0.14.1
prompt-toolkit==3.0.43
protobuf==3.20.3
psutil==5.9.0
psycopg2==2.9.9
pure_eval==0.2.2
py-cpuinfo==9.0.0
py-lief==0.12.3
pyarrow==11.0.0
pyautogui==0.9.54
pybind11-abi==5
pycosat==0.6.6
pycparser==2.21
pydantic==2.8.2
pydantic-core==2.20.1
pydeck==0.9.1
pygetwindow==0.0.9
pygments==2.15.1
pyjwt==2.8.0
pymsgbox==1.0.9
pymupdf==1.24.7
pymupdfb==1.24.6
pynvml==11.5.3
pyopenssl==23.2.0
pyparsing==3.1.2
pyperclip==1.9.0
pyqt==5.9.2
pyreadline3==3.4.1
pyrect==0.2.0
pyscreeze==0.1.30
pysocks==1.7.1
python==3.9.12
python-dateutil==2.9.0post0
python-docx==1.1.2
python-fastjsonschema==2.16.2
python-json-logger==2.0.7
python-libarchive-c==2.9
python-xxhash==2.0.2
pytorch==2.3.0
pytweening==1.2.0
pytz==2024.1
pywin32==305
pywinpty==2.0.10
pyyaml==6.0.1
pyzmq==25.1.2
qt==5.9.7
qtpy==2.4.1
re2==2022.04.01
referencing==0.30.2
regex==2024.5.15
requests==2.32.2
requests-toolbelt==1.0.0
responses==0.13.3
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==10.16.2
rpds-py==0.10.6
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
ruamel_yaml==0.15.100
safetensors==0.4.3
scikit-learn==1.2.1
scipy==1.13.1
selenium==4.23.1
send2trash==1.8.2
sentencepiece==0.1.99
setuptools==69.5.1
shellingham==1.5.4
sip==4.19.13
six==1.16.0
smmap==5.0.1
snappy==1.1.10
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.5
sqlite==3.45.3
stack_data==0.2.0
streamlit==1.39.0
sympy==1.13.1
tbb==2021.8.0
tenacity==9.0.0
termcolor==2.4.0
terminado==0.17.1
threadpoolctl==3.5.0
tinycss2==1.2.1
tokenizers==0.15.1
toml==0.10.2
tomli==2.0.1
toolz==0.12.0
torch==2.4.0
torchaudio==2.4.0
torchmetrics==1.4.0.post0
torchvision==0.19.0
tornado==6.4.1
tqdm==4.66.4
traitlets==5.14.3
transformers==4.43.3
transformers-stream-generator==0.0.4
trio==0.26.2
trio-websocket==0.11.1
typer==0.4.2
typing-extensions==4.11.0
tzdata==2024.1
ujson==5.10.0
urllib3==2.2.2
utf8proc==2.6.1
uvicorn==0.30.4
vc==14.2
vs2015_runtime==14.29.30133
watchdog==5.0.3
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.8.0
werkzeug==3.0.3
wheel==0.43.0
win_inet_pton==1.1.0
winpty==0.4.3
wsproto==1.2.0
xmindparser==1.0.9
xxhash==0.8.0
xz==5.4.6
yaml==0.2.5
yarl==1.9.3
zeromq==4.3.5
zipp==3.17.0
zlib==1.2.13
zstandard==0.22.0
zstd==1.5.5
